
.description {
    margin-bottom: 2rem;
    text-align: center;
}

.title {
    text-align: center;
    margin: 25px 0 25px 0;
}

.sub {
    text-align: center;
}

.first-section {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
}

hr {
    border-top: 1px solid black;
    width: 20%;
    margin: 0 auto;
}